/* Label styles */

body {
  background-color: #2a363b;
}

label {
  display: block;
  margin: 20px auto 2px;
}

input {
  margin: auto auto 20px;
  width: 200px;
  height: 20px;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
}



/* Class styles */

.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 20px 10px;
  color: white;
}

.box {
  height: 200px;
  width: 200px;
  background-color: #e43f5a;
  margin: auto;
  margin-top: 40px;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3px 5px 3px;
}

.box:hover {
  background-color: #ff475c;
  cursor: pointer;
}



/* ID styles */

#hiddenCss {
  width: 0px;
  height: 0px;
  background-color: #2a363b;
}
